body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Exo, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.body_default {
  font-family: Barlow, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.body_default.home_page {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container_rounded {
  padding: 20px 60px;
  border-radius: 16px;
  background-color: #fff;
}

.section_fire {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: linear-gradient(148deg, #7372e6, #5352cb);
}

.vertical-space {
  height: 20px;
}

.date_right {
  color: #5352cb;
  font-weight: 500;
  text-align: right;
}

.fire_background {
  background-image: url('/images/launch_screen_wave_svg.svg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: 400;
}

.container_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('/images/blob_1_equal.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.logo {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}

.logo_subtext {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Exo, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.image {
  max-width: 90%;
}

.logo_description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  text-align: center;
}

.logo_desc_container {
  max-width: 80%;
  padding: 20px;
  border-style: solid;
  border-width: 7px;
  border-color: #cfa63e;
  border-radius: 17px;
  background-image: linear-gradient(143deg, #299757, #087539);
  box-shadow: inset 0 2px 3px 1px #000, 0 9px 0 1px #816b34;
  -webkit-transform: rotateX(40deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(40deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.screenshot {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 10px solid rgb(130, 128, 239, .5);
  border-radius: 20px;
  margin: 10px;
}
.screenshot img {
  width: 100%;
  height: auto;
}

.main_heading {
  margin-bottom: 0px;
  font-weight: 500;
  text-align: center;
}

.main_pitch {
  margin-top: 40px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  background-image: url('/images/blob_1_landscape.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.center_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical_flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_feature_image {
  position: static;
  width: 36px;
  margin-right: 12px;
  float: left;
}

.main_feature_text {
  font-size: 24px;
}

.main_feature_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 14px;
  background-color: #7372e6;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.24);
}

.main_feature_item.rotate1 {
  margin-right: 40px;
  margin-bottom: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #8281e9;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.main_feature_item.rotate2 {
  position: relative;
  top: -16px;
  margin-left: 22px;
  -webkit-transform: rotate(-4.5deg);
  -ms-transform: rotate(-4.5deg);
  transform: rotate(-4.5deg);
}

.main_feature_item.rotate3 {
  position: relative;
  top: -6px;
  margin-right: 11px;
  margin-left: 11px;
  background-color: #778de5;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.main_feature_item.rotate4 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 8px;
  background-color: #9461cc;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.main_feature_item.rotate5 {
  margin-top: 20px;
  padding: 12px 15px;
  background-color: #4342b8;
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.main_feature_item.rotate6 {
  margin: 7px 13px;
  padding: 15px;
  background-color: #3848be;
  -webkit-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}

.main_feature_item.rotate7 {
  padding: 12px 15px;
  background-color: #3b4dcf;
  -webkit-transform: rotate(0.5deg);
  -ms-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
}

.main_feature_container {
  margin-top: 25px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.container {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_feature_subtext {
  color: #f0f0f0;
  font-weight: 300;
}

.top_section {
  padding-bottom: 20px;
}

.container_download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.download_title {
  font-size: 14px;
  font-weight: 300;
}

.app_store_icon {
  margin-bottom: 10px;
}

.review_name {
  padding-top: 10px;
  padding-left: 20px;
  font-family: Exo, sans-serif;
  font-weight: 500;
  text-align: left;
}

.review_quote {
  border-left-style: none;
  font-size: 16px;
  font-weight: 300;
}

.review_container {
  margin-top: 20px;
  padding-bottom: 20px;
}

.review_box {
  padding-top: 10px;
  background-image: url('/images/quotes_left_transparent.svg');
  background-position: 0px 0px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  color: #fff;
}

.main_heading_2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center;
}

.section_pitch {
  margin-bottom: 20px;
  font-weight: 300;
}

.feature_pitch_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('/images/blob_2_landscape.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.feature_title {
  font-size: 24px;
  text-align: center;
}

.feature_subtitle {
  color: #f0f0f0;
  font-weight: 300;
  text-align: center;
}

.feature_copy_container {
  margin: 20px 20px 10px 10px;
  padding: 10px 15px 10px 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(26, 28, 114, 0.74);
  border-radius: 10px;
  background-color: rgba(26, 28, 114, 0.56);
}
.feature_copy_container p {
  font-weight: 200;
}

.feature_copy_container ul {
  font-weight: 300;
  padding-left: 20px;
  list-style-type: disc;
  line-height: 1.8em;
}

.download_icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.feature_pitch_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-image: url('/images/blob_3_landscape.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.full_background {
  background-image: url('/images/background_diagonal_lines.svg');
  background-position: 0% 0%;
  background-size: auto;
}

.review_background {
  min-height: 100px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 115px;
  border-style: solid;
  border-width: 2px;
  border-color: #51197d;
  border-radius: 7px;
  background-color: rgba(81, 25, 125, 0.5);
}

.review_background_right {
  min-height: 100px;
  margin-top: 15px;
  margin-right: 115px;
  margin-left: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #51197d;
  border-radius: 7px;
  background-color: rgba(81, 25, 125, 0.5);
}

.review_box_right {
  padding-top: 10px;
  background-image: url('/images/quotes_right_transparent.svg');
  background-position: 100% 0%;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.footer_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 0px 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 11px;
  background-image: linear-gradient(170deg, #2f2e6e, #1b1b49);
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.48);
}

.contact_type {
  display: inline-block;
  padding-right: 10px;
  font-size: 18px;
}

.contact_details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 20px;
}

.contact_link {
  color: #9cd7ff;
  font-size: 22px;
}

.bottom_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  text-align: center;
}

.copyright_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  text-align: center;
}

.game_attributes {
  padding-left: 0px;
  list-style-type: none;
}

.game_attribute {
  margin-bottom: 8px;
}

.game_attr_title {
  color: #5a5a5a;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.image_caption {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.image_caption_big {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.image_description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
ul.image_description {
  list-style-type: disc;
  line-height: 1.5em;
}
.image_description li {
  padding-bottom: .5em;
}
.list_item_sub {
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 300;
  color: #C8C8C8;
  margin-bottom: 0;
}

.heading_subtext {
  margin-top: -8px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
}

.paragraph-4 {
  padding-bottom: 10px;
}

.note {
  color: #5a5a5a;
  font-size: 14px;
  line-height: 21px;
}

.note_block {
  padding-left: 16px;
  border-left: 2px solid #7372e6;
  border-radius: 0px;
}

.note_title {
  overflow: hidden;
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}

.table_image {
  background-color: #ebebeb;
}

.inline_note {
  overflow: hidden;
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
  text-transform: none;
}

.information_block {
  position: relative;
  margin-right: -20px;
  margin-bottom: 10px;
  margin-left: -20px;
}

.info_styling {
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffe2ad;
  background-color: #fffde8;
}

.info_title_icon {
  margin-right: 10px;
}

.info_titile_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info_title_subtext {
  margin-top: -6px;
  margin-left: 46px;
  font-size: 12px;
  line-height: 20px;
}

.exception_block {
  padding-left: 16px;
  border-left: 2px solid #d35050;
  border-radius: 0px;
}

.exception_title {
  overflow: hidden;
  color: #9c4545;
  font-size: 12px;
  line-height: 20px;
  text-transform: none;
}

.exception {
  color: #5a5a5a;
  font-size: 14px;
  line-height: 21px;
}

.paragraph-6 {
  text-decoration: none;
}

.formula {
  font-family: Inconsolata, monospace;
}

.formula_variable {
  background-color: #ffe9c2;
}

.paragraph-7 {
  font-size: 12px;
  line-height: 20px;
}

.formula_block {
  padding-left: 16px;
  border-left: 1px solid hsla(0, 0%, 59.3%, 0.5);
  background-color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 14px;
}

.rating_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rating_text {
  margin-bottom: 6px;
}

.feature_heading {
  color: #fffcea;
  font-size: 20px;
}

.feature_description {
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .app_store_icon {
    width: 200px;
  }
  .play_store_icon {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .container_rounded {
    padding-right: 20px;
    padding-left: 20px;
  }
  .fire_background {
    padding-right: 10px;
    padding-left: 10px;
  }
  .main_pitch {
    background-image: url('/images/blob_1_portrait.svg');
  }
  .center_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .main_feature_item.rotate1 {
    margin-top: 20px;
  }
  .review_container {
    margin-right: auto;
    margin-left: auto;
  }
  .review_box {
    margin-right: 10px;
    margin-left: 10px;
  }
  .feature_pitch_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-image: url('/images/blob_3_portrait.svg');
  }
  .feature_copy_container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .feature_pitch_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    background-image: url('/images/blob_4_portrait.svg');
  }
  .review_box_right {
    margin-right: 10px;
    margin-left: 10px;
  }
  .information_block {
    margin-right: -16px;
    margin-left: -16px;
  }
}

@media screen and (max-width: 479px) {
  .container_rounded {
    padding-right: 16px;
    padding-left: 16px;
  }
  .logo_description {
    font-size: 19px;
  }
  .app_store_icon {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .feature_copy_container {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
  }
  .download_icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer_box {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .contact_details {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.version_details {
  padding-top: 30px;
}
.menu-bar {
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link {
  color: #f5d5ff;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
}
.nav-link:hover {
  color: #f0bdff;
}
.hero {
  padding-top: 20px;
  padding-bottom: 0;
  font-weight: 400;
}
.vertical_padding_container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page_header {
  padding-bottom: 10px;
}
.logo_small {
  width: 60px;
  height: 60px;
  float: left;
}
.header_title_container {
  height: 60px;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  padding-left: 10px;
  display: flex;
}
.header_title {
  color: #fff;
  font-family: Exo, sans-serif;
  font-size: 20px;
}
.header_subtitle {
  color: #cbe2ff;
  font-size: 16px;
}
