# General
.DS_Store
.LSOverride

# Thumbnails
._*

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Firebase
firebase_server/functions/node_modules
database-debug.log
.firebase
.credentials
node_modules/
.symlinks/

# Python env
venv/
venv27/

_site/
temp/

# Git worktrees
.worktrees/

# Script secrets
scripts/.env