---
layout: layouts/base-with-container.html
title: Blog | Chips of Fury
description: The official blog of Chips of Fury, a poker app for playing with friends.
---
<h3>Chips of Fury Blog</h3>
<p>
    This place is a devlog of sorts. We will post updates about the app, and other things that we find interesting.
</p>
{% for post in collections.post | reverse %}
<p>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
    {% for tag in post.data.tags %}
        {% if tag != 'post' %}
            {% if tag == 'devlog' %}
                <!-- styling to show a label with red background with rounded corners -->
                <span style="background-color: #bb7636; color: white; padding: 5px 10px 5px 10px; margin: 0 5px 0 5px; border-radius: 5px; font-size: .9em">
                    #{{ tag }}</span>
            {% else %}
                <!-- styling to show a label with red background with rounded corners -->
                <span style="background-color: #4342b8; color: white; padding: 5px 10px 5px 10px; margin: 0 5px 0 5px; border-radius: 5px; font-size: .9em">
                    #{{ tag }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
    - {{ post.date | postDate }}
</p>
{% endfor %}
