---
layout: layouts/base
title: "Chips of Fury: Play Poker with Friends for Free"
description: >
  The ultimate app to play with friends. Play dealer's choice with Texas Hold'em, Omaha and Omaha 5. Exclusive "Chips only" Mode to play with your own cards.
body_class: home_page
---
<div class="section_fire">
  <div class="full_background">
    <div class="fire_background">
      <div class="w-container">
        <div class="w-layout-hflex menu-bar">
          <a href="/blog" class="nav-link">Blog</a>
        </div>
      </div>
      <div class="hero">
        <div class="container_logo w-container">
          <img src="/images/app_icon_v4_web.png" loading="lazy" height="200" alt="" class="logo">
          <img src="/images/chips_of_fury_text.svg" loading="lazy" width="320" height="" alt="" class="image">
          <h2 class="logo_subtext">play poker with friends and family</h2>
          <div class="logo_desc_container">
            <h3 class="logo_description">Virtual Poker Table</h3>
            <h4 class="logo_description">for your</h4>
            <h3 class="logo_description">private home games</h3>
          </div>
        </div>
        <div class="w-container">
          {% include "components/download-links.html" %}
          <div class="rating_container">
            <div class="rating_text">Rated 4.5+ on App Store and Google Play</div>
            <div class="rating_block">
              <img src="/images/full_star.svg" loading="lazy" width="40" height="40" alt="" class="rating_star">
              <img src="/images/full_star.svg" loading="lazy" width="40" height="40" alt="" class="rating_star">
              <img src="/images/full_star.svg" loading="lazy" width="40" height="40" alt="" class="rating_star">
              <img src="/images/full_star.svg" loading="lazy" width="40" height="40" alt="" class="rating_star">
              <img src="/images/half_star.svg" loading="lazy" width="40" height="40" alt="" class="rating_star">
            </div>
          </div>
        </div>
      </div>
      <div class="container w-container">
        <h3 class="main_heading_2">No Signup, No Ads</h3>
        <h3 class="main_heading_2">Unlimited Chips</h3>
        <h3 class="main_heading_2">Packed with Features!</h3>
        <div class="main_pitch w-row">
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Game config screenshot for virtual poker
            </p>
            <div class="screenshot">
              <img src="/images/screenshots/game_config_virtual_poker.png"
                   loading="lazy"
                   alt="Game config - virtual poker">
            </div>
          </div>
          <div class="feature_summary w-col w-col-6">
            <p class="image_caption_big">
              Clean Table interface
            </p>
            <div class="screenshot">
              <img src="/images/screenshots/table_screenshot_1.png"
                   loading="lazy"
                   alt="Table screenshot">
            </div>
            <div class="feature_copy_container">
              <h3 class="section_pitch">
                Chips of Fury (CoF) is tailor-made for playing private games with your friends and family
              </h3>
              <p>
                You can play virtually, with variations such as Texas Hold'em, Omaha and Omaha 5. You can also play
                using just "Virtual Poker Chips" and your own deck of cards.
              </p>
              <ul>
                <li>Flexible chip distribution options</li>
                <li>Configurable Action Time (Turn Timer)</li>
                <li>Blind Timers (Adaptive / Structured Blinds)</li>
                <li>Admin Pause / Resume</li>
                <li>Unique "chips only" mode</li>
                <li>Visualize Statistics</li>
                <li>Custom display settings</li>
                <li>Dealer's Choice Style of play</li>
              </ul>
              <br>
            </div>
          </div>
        </div>
      </div>

      <div class="container w-container">
        <h2 class="main_heading">Unlimited chips, Flexible chip management</h2>
        <div class="main_pitch w-row">
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Option to give 'x' chips by default to all players on joining game
            </p>
            <img src="/images/screenshots/chip_management_screenshot_1.png"
                 loading="lazy"
                 alt="Automatically credit chips setting screenshot">
            <br>
            <br>
            <p class="image_caption_big">
              Automatically load wallet on buy-in for trusted groups
            </p>
            <img src="/images/screenshots/chip_management_screenshot_2.png"
                 loading="lazy"
                 alt="self loading wallet screenshot">
            <br>
            <br>
          </div>
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Admin can give or take chips from any player
            </p>
            <img src="/images/screenshots/chip_management_screenshot_3.png"
                 loading="lazy"
                 alt="Admin add deduct chips screenshot">
          </div>
        </div>
      </div>

      <div class="container w-container">
        <h2 class="main_heading">Unique "Chips only" mode</h2>
        <h3 class="main_heading_2">bring your own deck of cards</h3>
        <div class="main_pitch w-row">
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Gameplay screenshot for chips only mode
            </p>
            <div class="screenshot">
              <img src="/images/screenshots/gameplay_chips_only_1.png" alt="chips only mode gameplay">
            </div>
            <ul class="image_description">
              <li>Play with custom denominations</li>
              <li>
                Choose between Poker mode, or Free Style
                <p class="list_item_sub">
                  Free style mode is great for non poker games!
                </p>
              </li>
              <li>Admin can UNDO turns played by mistake</li>
            </ul>
            <br>
            <br>
          </div>
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Chips Settlement by admin
            </p>
            <div class="screenshot">
              <img src="/images/screenshots/gameplay_chips_only_2.png" alt="chips only mode manual settlement">
            </div>
            <ul class="image_description">
              <li>Automatic side pot calculation</li>
              <li>Split pot settlement for Hi-lo variations</li>
            </ul>
            <br>
            <br>
          </div>
        </div>
      </div>

      <div class="container w-container">
        <h2 class="main_heading">Customize your screen layout and deck theme</h2>
        <div class="main_pitch w-row">
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Choose your preferred screen layout
            </p>
            <div>
              <img src="/images/screenshots/screen_layouts_collage.png" alt="choose your preferred screen layouts">
            </div>
            <h4>Screen layouts to suit your game</h4>
            <p>
              Choose screen layouts which show you game logs / chat, or use the full screen to show the table.
            </p>
            <p>
              We even have a layout which lets you play "in real life" with phones lying face up on the table.
              The hole cards are big and turned face down by default. You can peek at them by tapping on them
              to prevent exposing your cards.
              <br><br>
            </p>
          </div>
          <div class="vertical_flex w-col w-col-6">
            <p class="image_caption_big">
              Player options menu
            </p>
            <div>
              <img src="/images/screenshots/gameplay_menu.png" alt="player menu screenshot">
            </div>
            <br>
            <p class="image_caption_big">
              Choose your deck colors
            </p>
            <div>
              <img src="/images/screenshots/deck_theme_selection.png" alt="deck theme selection screenshot">
            </div>
          </div>
        </div>
      </div>

      <div class="review_container w-container">
        <h2 class="main_heading">Users Say...</h2>
        <div class="review_box">
          <div class="review_background">
            <div class="review_name">Khai</div>
            <blockquote class="review_quote">Amazing app! Back in the days it was an app I used whenever I had no chips with me... Now I can actually play poker with my friends from all over the world! UI was a bit confusing in the beginning, but you will get used to it. LOVE IT!</blockquote>
          </div>
        </div>
        <div class="review_box_right">
          <div class="review_background_right">
            <div class="review_name">Pratik Chaudhary</div>
            <blockquote class="review_quote">It&#x27;s an amazing app. All I wanted from a virtual poker app.</blockquote>
          </div>
        </div>
        <div class="review_box">
          <div class="review_background">
            <div class="review_name">Ryan Freeman</div>
            <blockquote class="review_quote">Super easy to use. The poker mode is great, and saved me having to explain what the options in a betting round are to my friends that have never played poker. Would like to see a mode for black Jack implemented.</blockquote>
          </div>
        </div>
        <div class="review_box_right">
          <div class="review_background_right">
            <div class="review_name">Nandakumar K S</div>
            <blockquote class="review_quote">Exactly what is needed for playing poker without poker chips. Also has the option to play poker virtually, or make it suit for other gambling games. Well designed UX and game controls. Kudos to the developer. Have been a user for long time and been seeing the changes over time, great work.</blockquote>
          </div>
        </div>
      </div>
      <div class="bottom_container w-container">
        <div class="footer_box">
          <h2 class="main_heading">Contact Us</h2>
          <p class="paragraph-3">We would love to hear from you. <br>Please send your feedback, feature requests, ❤️ or 😠 !</p>
          <div class="contact_details">
            <div class="contact_type">Email</div><a href="mailto:hi.kanily@gmail.com" class="contact_link">hi.kanily@gmail.com</a></div>
          <div class="contact_details">
            <div class="contact_type">FB Messenger</div><a href="https://m.me/chipsoffury" target="_blank" class="contact_link">@chipsoffury</a></div>
        </div>
        {% include "components/download-links.html" %}
      </div>
      <div class="copyright_container w-container" style="padding-bottom: 10px">
        <p><a href="/privacy-policy">Privacy Policy</a></p>
        <p>Copyright © {{ helpers.currentYear() }}, Kanily Technologies LLP, All rights reserved</p>
      </div>
    </div>
  </div>
</div>
