<!-- Beginner Help Notice - shows readers that inline term explanations are available -->
<div class="beginner-help-notice">
  <div class="beginner-help-notice__content">
    <div class="beginner-help-notice__icon">♠</div>
    <div class="beginner-help-notice__text">
      <div class="beginner-help-notice__title">New to poker?</div>
      <div class="beginner-help-notice__description">
        Tap any <span class="beginner-help-notice__example">highlighted term</span> to see a quick explanation. No need to leave the page!
      </div>
    </div>
  </div>
</div>
