<div style="margin-top: 40px;">
    <h4>For Comments and Feedback</h4>
    <p>
        <img src="/images/contact/email.svg" height="36" style="margin-right: 10px">
        <a href="mailto:hello@chipsoffury.com">hello@chipsoffury.com</a>
    </p>
    <p>
        <img src="/images/contact/fb_messenger.svg" height="36" style="margin-right: 10px">
        <a href="https://m.me/chipsoffury" target="_blank">@chipsoffury</a>
    </p>
    <p>
        <img src="/images/contact/insta.svg" height="36" style="margin-right: 10px">
        <a href="https://www.instagram.com/chips.of.fury/" target="_blank">@chips.of.fury</a>
    </p>
</div>
