<div class="container_download">
    <div class="download_icons">
        <a href="https://app.chipsoffury.com" target="_blank" class="w-inline-block">
            <img src="/images/web-launch-badge.svg" loading="lazy" alt="" class="app_store_icon">
        </a>
    </div>
    <p class="download_title">GET THE APP<br></p>
    <div class="download_icons">
        <a href="https://apps.apple.com/app/id1292493748" target="_blank" class="w-inline-block">
            <img src="/images/app-store-badge.svg" loading="lazy" alt="" class="app_store_icon">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.kanily.chipsoffury" target="_blank" class="w-inline-block">
            <img src="/images/play-store-badge.svg" loading="lazy" alt="" class="app_store_icon">
        </a>
        <a href="/releases" class="w-inline-block">
            <img src="/images/android-apk-badge.svg" loading="lazy" alt="" class="play_store_icon">
        </a>
    </div>
</div>
