---
layout: layouts/base.html
---
<div class="section_fire">
    <div class="full_background">
        <div class="fire_background" style="min-height: 100vh">
            <div class="vertical_padding_container">

                {% renderTemplate "webc" %}
                <page-header></page-header>
                {% endrenderTemplate %}

                <div class="w-container" style="padding-bottom: 16px">
                    <a href="/" class="nav-link">Home</a>
                    <span style="color: white">&gt;</span>
                    <a href="/blog" class="nav-link">Posts</a>
                </div>

                <div class="container_rounded w-container" style="min-height: 80vh">
                    <h1>
                        {{ title }}
                    </h1>
                    <p style="color: #758696">
                        by {{ author }} - {{ date | postDate }}
                    </p>

                    {{ content | safe }}

                    {% include "components/comments.html" %}
                </div>

            </div>
        </div>
    </div>
</div>
